{{ define "title" }}
	{{.Title}}
{{ end }}

{{ define "content"}}
<section id="contents" style="background-color: #088A68">
<div class="postContainer">
	<h1 class="bang" style="font-weight: normal; text-align: center;">Just Blab it!</h1>
	<div style="padding: 2%;" class="container">
<div style="width: 60%; margin-left: 20%;" class="jumbotron">

	<form name="form" style="letter-spacing:1px;" action="/save" method="post">
	Author:<br><input name="author" class="indie" type="text"><br><br>
	Title:<br> <input name="title" class="indie" type="text"><br><br>
	Write your post here:<br>
		<textarea name="text" class="indie" style="width:100%"></textarea><p></p>
	<p style="text-align: center;"><input class="btn btn-default" value="Blab it" type="submit"></p>
</form>
	<p></p><hr><p>In progress</p>
</div>
</div>
</div>
</section>
{{ end }}
