{{ define "title" }}Blab application index{{ end }}
{{ define "content"}}
<table>
	<tr>
		<td style='width: 30%;'>
			<img class = 'newappIcon' src='/static/images/gophercolor.png'>
		</td>
		<td>
			<h1 id="message">Blab</h1>
			<p class='description'></p>In progress</span><br>
			<form name="form" action="/save" method="post">
			Author name: <input name="author" type="text"></input><br>
			Write your post here:<br>
			<textarea name="text" style="width:100%"></textarea>
			<input type="submit" value="submit">
		</form>
		</td>
	</tr>
</table>
{{ end }}
